// TYPO
// --------------------------------------------------

// Font Family
$shadows: 'ShadowsIntoLight', sans-serif;
$daddy: 'DaddysGirl', sans-serif;
$myriadL: 'MyriadPro-Light', sans-serif;
$myriadSb: 'MyriadPro-Semibold', sans-serif;
$openSansR: 'OpenSans', sans-serif;

// Font Weight
$light: 300;
$regular: 400;
$bold: 700;

//Font Size
$font-size-base: 18px;

// THEME COLORS
// --------------------------------------------------
$white: #fff;
$black: #000;
$noir: #353535;
$orange: #ff5c00;
$yellow: #edb112;


$cyan: #93ffff;
$marine: #5193b5;
$safety: #ee7766;
$aeronautic: #87b3c0;
$medical: #8fc78f;
$defense: #f9b567;
